.Font_start {
  font-size: 30px;
  font-family: "Jalnan";
  color: white;
  background-color: green;
  border-radius: 30px;
  padding: 15px;
  border: 0px;
}

.Font2_start {
  font-size: 30px;
  border-radius: 30px;
  padding: 15px;
  font-family: "Jalnan";
  color: white;
  background-color: brown;
  border: 0px;
}
.start_progress {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Progress_start {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.MuiTypography-root.MuiTypography-h6 {
  text-align: center;
  font-family: "Jalnan";
  color: #1d1b1b;
}
.MuiTypography-root.MuiDialogContentText-root.MuiTypography-body1.MuiTypography-colorTextSecondary {
  font-family: "Jalnan";
  color: rgb(73, 73, 73);
  font-size: 14px;
}
#photos {
  margin-right: 5vw;
}
