.Container_test {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #131641;
}
.drop_message {
}
.Title_Test {
  border-bottom: 1px solid #eccecf;
  width: 100vw;
  height: 44px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  font-size: 25px;
  font-family: "Jalnan";
}

.Chat_test {
  left: 20vw;
  right: 20vw;
  text-align: center;
  position: absolute;
}

.Sendme_con {
  height: auto;
  margin-top: 15px;
  display: flex;
  /* justify-content: flex-end; */
  align-items: flex-end;
  flex-direction: column;
}

.Sendme_in {
  display: inline-block;
  word-break: break-all;
  margin: 5px 20px;
  max-width: 60%;
  border: 1px solid #888;
  padding: 10px;
  border-radius: 5px;
  background-color: #f05052;
  color: white;
  text-align: left;
  font-family: "Jalnan";
  font-size: 13px;
  border: 0px;
}

.Sendme_in2 {
  display: inline-block;
  word-break: break-all;
  margin: 5px 20px;
  max-width: 60%;
  color: white;
  text-align: left;
  font-family: "Jalnan";
  font-size: 13px;
  border: 0px;
}

.Send_from {
  height: auto;
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Send_from2 {
  display: inline-block;
  word-break: break-all;
  margin: 5px 20px;
  max-width: 60%;
  border: 1px solid #888;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  color: black;
  text-align: left;
  font-family: "Jalnan";
  font-size: 13px;
  border: 0px;
}

.Send_from3 {
  display: inline-block;
  word-break: break-all;
  margin: 5px 20px;
  max-width: 60%;
  color: white;
  text-align: left;
  font-family: "Jalnan";
  font-size: 13px;
  border: 0px;
}

.Input_test {
  position: absolute;
  bottom: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-top: 14px;
  height: 58.5px;
  background-color: #f05052;
}
.Input_test input {
  width: 64vw;
  height: 22px;
  border-radius: 8px;
  border: 0px;
  padding-left: 3vw;
  padding-right: 3vw;
  font-size: 12px;
}
.Btn_test {
  background-color: #f05052;
  color: white;
  border-radius: 24vh;
  border: 0;
  width: auto;
  height: 44px;
  font-family: "Jalnan";
  font-size: 18px;
  margin-left: 5vw;
}
.message_table {
  display: flex;
  width: 100vw;
  height: 83vh;
  margin-top: 1vh;
}
.scrollbottom {
  display: flex;
  width: 100vw;
  height: 83vh;
}
.drop_message hr {
  width: 90vw;
  margin-bottom: 1vh;
  margin-top: 0;
}
.drop_messagebody {
  margin-bottom: 1vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 5vh;
  color: black;
  font-family: "Jalnan";
  color: white;
}
